@charset "utf-8";
/* CSS Document */
.
@charset "utf-8";
/* CSS Document */
*{ margin: 0px; padding: 0px;}
a{ text-decoration: none;}
ul li{ list-style: none;}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    clear: both;
    display: block;
}
body{ font-family: arial; font-size: 13px; }

.wrapper{
    width:100%;
    height:100%;
	
}

/*this is style header*/
.header{
	width:100%;
	height:30px;
}
.content{
	width:100%;
	height:auto;
	
}
.left_content { height:1000px;
	width:18%;
	float:left;
	background: #222d32;
	
}
.title_content{
height:50px;
border-bottom: 1px solid #E8E8E8;
padding:15px 10px;
text-align:center;
color:#888;
background-color: #222d32;
}
#main_menu>li:last-child{ border-right: none;}
#main_menu li{ position: relative;height:35px; padding:15px 10px 10px 0px;} 
#main_menu>li a{display: block; text-transform: none;}

#main_menu>li>a{ display: block;}

#main_menu li .sub_menu{ position: absolute; display:none;
width: 200px;
background: #f5f5f5;
top: 0px;
left: 100%;
}
#main_menu li:hover>.sub_menu {display:block;}
#main_menu>li>.sub_menu{top: 0px;position: absolute;
left: 200px;}
#main_menu li:hover{ background: #fcfcfc;}
.right_content { height: 1000px;
	width:81%;
	float:right;
	
	margin-top:15px;
	
}
