@charset "utf-8";
/* CSS Document */
*{
	
	margin:0px;
	padding:0px ;
}

.clear{
clear:both;
}
ul{
	width:250px;
}
.wrapper{
	width:100%;
	height:100%;
}
.menu ul{
	background:#e7e7e7;
	
	padding:0;
	list-style-type:none;
}
.menu ul li{
	width:auto;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #e8e8e8;
	padding:0 10px;

position:relative;
	background:#515151;
	
}
.menu ul li a{ 
	text-decoration:none;
	color:#C4C4C4;
	font-weight:bold;
	display:block;
}
.menu ul li:hover{
	background:#CDE2CD:
}
.menu .sub_menu{
	
	
	position:absolute;
	display:none;
	left:-250px;
	top:0px;
	
}
.menu ul li:hover .sub_menu{
	display:block;
}
div.right_content{
	width:81%;
	
	height:500px;
 	float:right;
 
 	border-left:1px solid #000000;
 	margin-top:0px;
}
div.menu{
width:10%;
height:auto;
 float:left;

}
.header{
	width:auto;
	height:30px;
}
.title_menu{
	background:#515151;
	height:60px;
	width:250px;;
	padding: 15px 15px 15px 15px;
	border-bottom:1px solid #58585;
	color:#C4C4C4;
	border-bottom:1px solid #e8e8e8;
	text-align:center;
	font-size:17px;
}
