@charset "utf-8";
/* CSS Document */
*{
	
	margin:0px;
	padding:0px ;
}
.wrapper{
	width:200px;
	height:500px;
	background:#E4E4E4;
	margin:0 auto;
	
	
	
}
.main_menu>ul>li{
	list-style:none;
	
	padding:11px 27px;
	position:relative;
	
}
li{
 list-style:none;
}
a{
	text-decoration:none;
	color:#FFFFFF;
}
.clear{
	clear:both;
}
.main_menu{
	margin-top:30px;
	background:#00A69B;
}
.main_menu ul li ul{

	display:none;
	position:absolute;
	background:#00A69B;
	top:0px;
	left:200px;
	width:150px;
	  
}
.main_menu>ul>li:hover>ul{
display:block;
	
}
.main_menu ul li ul a{
  padding-left:10px;
  margin-top:10px
}


